pta_proxy/AppCode/Microsoft.ApplicationBlocks.Data/DataAccessQuickStartSamples/ProductDS.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="ProductDS" targetNamespace="http://tempuri.org/ProductDS.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/ProductDS.xsd" xmlns:mstns="http://tempuri.org/ProductDS.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProductID" type="xs:int" />
				<xs:element name="ProductName" type="xs:string" />
				<xs:element name="QuantityPerUnit" type="xs:string" />
				<xs:element name="UnitPrice" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>